@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
    --background-color: #000A28;
    --section-color: #03122e;
    --font-color-light: #c3d0db;
    --font-color-dark: #336174;
    --accent-color: #336174;
    --error-color: #AC3434;
    --border-radius-big: 30px;
    --border-radius-lit: 15px;
    --border-button: 30px;
    --border-lit: 5px;
    --space-between: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: url(../img/arrow-pointer-solid.svg), auto;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--section-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 3px;
    border: none;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color);
}

[class]:not([class^="fa"]) {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--background-color);
    text-align: left;
}

button {
    border-radius: var(--border-radius-lit);
    font-size: 3.5vh;
    cursor: url(../img/hand-pointer-solid.svg), pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea {
    color: var(--font-color-dark);
}

textarea::placeholder {
    color: var(--accent-color);
    opacity: 0.4;
}

#left-section {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#title {
    width: auto;
    font-size: 3.5vw;
    color: var(--font-color-light);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

#title>img {
    height: 3em;
    vertical-align: middle;
}

#input-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--space-between);
    margin-right: var(--space-between);
}

#input-field {
    height: auto;
    flex-grow: 1;
    margin-bottom: var(--space-between);
    background-color: var(--background-color);
    font-size: 1.75em;
    overflow-x: auto;
    resize: none;
    caret-color: var(--font-color-light);
    cursor: url(../img/i-cursor-solid.svg) 1 1, text;

}

#input-field:focus {
    outline: none;
}

#buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons>button {
    padding: var(--border-button);
}

#encode-button {
    margin-right: 25px;
}

#decode-button {
    margin-left: 25px;
}

.solid-button {
    border: 7px solid var(--section-color);
    background-color: var(--section-color);
    color: var(--font-color-light);
}

.solid-button:hover {
    border: 7px solid var(--accent-color);
    background-color: var(--accent-color);
    font-weight: 700;
    transition: all 0.25s ease-in-out;
}

.transparent-button-1 {
    border: 7px solid var(--section-color);
    padding: 3px;
    background-color: transparent;
    color: var(--font-color-light);
}

.transparent-button-1:hover {
    border: 7px solid var(--accent-color);
    color: var(--font-color-light);
    font-weight: 700;
    transition: all 0.25s ease-in-out;
}

.transparent-button-2 {
    border: 3px solid var(--font-color-light);
    background-color: transparent;
    color: var(--font-color-light)
}

.transparent-button-2:hover {
    border: 3px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color)
}

.solid-button:active,
.transparent-button-1:active {
    border: 7px solid var(--font-color-light);
    background-color: var(--font-color-light);
    color: var(--background-color);
    font-weight: 100;
    transition: all 0.01s ease-in-out;
}

#output-section {
    width: 35%;
    border-radius: var(--border-radius-big);
    position: relative;
    background-color: var(--section-color);
    color: var(--font-color-light);
}

#output-field {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#no-output-image {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--border-radius-big);
    background-image: url('../img/detective-smoking.svg');
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: all;
}

.visible-error-image {
    animation-name: shake-opacity;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
}

@keyframes shake-opacity {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: all;
    }
}

#copy-button {
    padding: 20px;
    top: var(--space-between);
    right: var(--space-between);
    position: absolute;
    font-size: 1.5em;
    /*display: none;*/
}

#no-output-message {
    padding: var(--space-between);
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 1;
}

#no-output-message>h2,
#no-output-message>p {
    padding-right: var(--space-between);
    padding-left: var(--space-between);
    color: black;
    mix-blend-mode: difference;
    filter: invert(100);
    word-wrap: break-word;
}

#no-output-message>h2 {
    font-size: 2em;
    font-weight: bold;
}

#no-output-message>p {
    font-size: 1.5em;
}

#footer {
    width: 100vw;
    text-align: center;
}

#author-info {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.frame {
    padding: var(--space-between);
}

.font {
    font-size: 1.25rem;
}

.text-centered {
    text-align: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.not-clickable {
    pointer-events: none;
}

.scrollable {
    padding-right: 25px;
}